---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main
      class="flex flex-col md:flex-row gap-8 lg:gap-0 w-full max-w-screen-lg"
    >
      <div class="flex flex-col gap-4 flex-1 items-center w-full">
        <div>
          <h1 class="text-4xl font-bold">Table of Contents</h1>
          <ul>
            <li>
              <a href="/slides/intro"> Introduction </a>
            </li>
            <li><a href="/slides/lsp-spec">LSP Spec </a></li>
            <li>
              <a href="/slides/implement-in-go"> Implement in Go </a>
            </li>
            <li><a href="/slides/dap"> DAP </a></li>
            <li><a href="/slides/automation"> Automation </a></li>
          </ul>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img
          src="/go-gopher-svgrepo-com.svg"
          class="h-72 w-72"
          alt="Go Gopher"
        />
      </div>
    </main>
  </body>
</html>
